<html lang = "en">
  <header>
    <h1>Building Lists</h1>
</header>
<main>
        
                <p><input type = "text" Name = "" id = "Bname" placeholder="Building Name" required></p>
                <p><label for= "Building Name"></label></p>
                <p><input type = "text" Location = "" id = "location" placeholder="Location" required></p>
                <p><label for= "Location"></label></p>
                <p><input type = "text" Tenants No = "" id = "Tno" placeholder="Tenants No" required></p>
                <p><label for= "Care taker"></label></p>
                <p><input type = "Care Take" Contact = "" id = "CT" placeholder="Care Taker" required></p>
                <p><label for= "Caretaker-contact"></label></p>
                <p><input type = "Caretaker-Contact" Contact = "" id = "CTC" placeholder="Caretaker-Contact." required></p>
        <a href="{% url 'tenant_page' %}">Enter building info</a>
        <a href="{% url 'index_page' %}">Back Home</a>
        <a href="{% url 'login_page' %}"> Back to Login</a>
        
</main>
</html>