<html lang = "en">
    <head>
        <meta charset= "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE= edge">
        <meta name = "viewport" content = "width=device-width, initial-scale= 1.0">
        <link rel="stylesheet" type="text/css" href="style.css">

    </head>
    <body>
        <div class="container">
            <h1>LEVICOLE RENTL</h1>
            <h2>Make your booking Now</h2>
            <h2 class = "sub"> RENT</h2>
            <h2 class = "sub"> MANAGEMENT</h2>
            <h2 class = "sub"> SIMPLIFIED</h2>
            <p>Levicole Rentl suports property owners and managers globally in managing their rentals through a single login</p>
            <a href="{% url 'login_page' %}">Login</a>
            <a href="{% url 'add_building_page' %}">Add Building</a>
            
            
    
</div>
</body>
</html>