{% extends './base.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="container">
            <h1>LEVICOLE RENTL</h1>
            <h2>Make your booking Now</h2>
            <h2 class = "sub"> RENT</h2>
            <h2 class = "sub"> MANAGEMENT</h2>
            <h2 class = "sub"> SIMPLIFIED</h2>
            <p>Levicole Rentl suports property owners and managers globally in managing their rentals through a single login</p>

{% endblock content %}
            
            
    
</div>
