<html lang = "en">
    
    <head>
        <meta charset= "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE= edge">
        <meta name = "viewport" content = "width=device-width, initial-scale= 1.0">
        
        <title>LEVICOLE RENTALS LOGIN</title>

        
    </head>
    <body>

            <h1 class = "sub" >Subscribe </h1>
            <h2>Sign Up and we'll send the best deals to you</h2>
            <form>
            <p><label for= "Email Address">Email</label>
            <input type = "text"  id = "email" placeholder="Enter Email Address" required></p>

            <p><label for= "First Name">First Name</label>
            <input type = "text"  id = "fname" placeholder="Enter First Name" required></p>

            <p><label for= "Last Name">Last Name</label>
            <input type = "text"  id = "lname" placeholder="Enter Last Name" required></p>

            <p><label for= "Paasword">Password</label>
                <input type = "text" id = "word" placeholder="Enter Password" required></p>
               
            </form>
    </div>

    <a href="{% url 'index_page' %}">Back Home</a>
    <a href="{% url 'building_page' %}">Check Buildings</a>


    
   
   
</body>
</html>