<html lang = "en">

    <body>
       <h1>payment Information</h1>
            
    </body>
            <main>
                <p><input type = "text" Name = "" id = "password" placeholder="Payment ID" required></p>
                <p><label for= "Payment ID"></label></p>
                <p><input type = "text" Gender = "" id = "password" placeholder="Payment Date" required></p>
                <p><label for= "Payment Date"></label></p>
                <p><input type = "text" Contact = "" id = "password" placeholder="Tenant ID" required></p>
                <p><label for= "Tenant ID"></label></p>
                <p><input type = "Payment For" Contact = "" id = "password" placeholder="Payment For" required></p>
                <p><label for= "Payment For"></label></p>
                <p><input type = "Amount Paid" Contact = "" id = "password" placeholder="Amount Paid" required></p>
                <p><label for= "Amount Paid"></label></p>
            
            </main> 
        <a href="{% url 'index_page' %}">Pay Now</a>

    </body>
</html>