<html lang = "en">
    
    <body>
        <header>
            
            <h1>Tenant Information</h1>
            </header>
            <main>
            
            
                <p><input type = "text" Name = "" id = "password" placeholder="Tenants ID" required></p>
                <p><label for= "Tenants ID"></label></p>
                <p><input type = "text" Gender = "" id = "password" placeholder="Tenant Name" required></p>
                <p><label for= "Tenant Name"></label></p>
                <p><input type = "text" Contact = "" id = "password" placeholder="Gender" required></p>
                <p><label for= "Gender"></label></p>
                <p><input type = "text" Contact = "" id = "password" placeholder="Contact" required></p>
                <p><label for= "Contact"></label></p>
                <p><input type = "text" Contact = "" id = "password" placeholder="Rental ID" required></p>
                <p><label for= "Rental ID"></label></p>

            </main>

            <a href="{% url 'payment_page' %}">Add New tenant</a>
            <a href="{% url 'index_page' %}">Back Home</a>
            
    </body>
</html>